
.form-style {

    width: 500px;
    /* Form outline */

}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 15px;
   margin-left: 40px;
    margin-bottom: 30px;
}

.form-button{
    margin-left: 70px;
}


















